

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <body>

<h1>Kasper API</h1>

<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
       <h2>Add new Champion </h2> 
      </div>
      <div class="card-body">
        <form>
        <table class="table table-bordered">
          <tr>
            <td class="control-label">Name</td>
            <td>
              <input asp-for="name" #name class="form-control" type="text" placeholder="Name" required>
              <span asp-validation-for="name" class="text-danger"></span>
            </td>
          </tr>
          <tr>
            <td>Role</td>
            <td>
                <input #role type="text" class="form-control" type="text"  placeholder="Role">
            </td>
          </tr>
          <tr>
            <td>Release Date</td>
            <td style="height: 50px;"> 
                <input style="height: 50px;" class="form-control" type="date" #releaseDate placeholder="releasedate">
            </td>
          </tr>
          <tr>
              <td>factionid</td>
              <td>
                  <input #factionid type="text" class="form-control" type="number"  placeholder="idfaction">
              </td>
            </tr>
          <tr>
            <td>
                <button class="btn btn-success"  (click)="PostChampion(name.value,role.value, releaseDate.value, factionid.value)" >Add Champion</button>
            </td>
            <td id="AddChampionError" style="color:red;">
                
            </td>
          </tr>
        </table>
      </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
       <h2>Add new Faction </h2> 
      </div>
      <div class="card-body">
        <form>
        <table class="table table-bordered">
          <tr>
            <td>Name</td>
            <td>
              <input asp-for="name" #faName class="form-control" type="text" placeholder="name">
              <span asp-validation-for="name" class="text-danger"></span>
            </td>
          </tr>

          <tr>
              <td>Description</td>
              <td>
                <input asp-for="Description" #faDescription class="form-control" type="text" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
              </td>
            </tr>
       
          <tr>
            <td>
                <button class="btn btn-success"  (click)="PostFaction(faName.value, faDescription.value)" >Add Faction</button>
            </td>
          </tr>
        </table>
      </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
           <h2>Get All Champions</h2> 
            <button type="button" class="btn btn-warning" (click)="GetAllChampions()">Get All Champions</button>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <!--WORKINGGGGGG-->
            <table class="table table-bordered table-striped mb-0">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Champion Name</th>
                <th scope="col">Role </th>
                <th scope="col">Release date</th>
              </tr>
              <tr *ngFor="let rec of Champions$">
                <td>{{rec.id}}</td>
                <td>{{rec.championName}}</td>
                <td>{{rec.championRole}}</td>
                <td>{{rec.releaseDate}}</td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            <h2>Update Champion by id</h2>
          </div>
          <div class="card-body">
            <form>
            <table class="table table-bordered">
              <tr>
                <td>Name</td>
                <td>
                  <input type="text" #uname  class="form-control" placeholder="title">
                </td>
              </tr>
              <tr>
                <td>Role</td>
                <td>
                    <input type="text" #urole  class="form-control" placeholder="genre">
                </td>
              </tr>
              <tr>
                <td>Id</td>
                <td> 
                    <input type="number" #uchampionid class="form-control" placeholder="championId">
                </td>
              </tr>
              <tr>
                <td>Release Date </td>
                <td style="height: 50px;"> 
                    <input style="height: 50px;" type="date" #ureleaseDate class="form-control" placeholder="ureleasedate">
                </td>
              </tr>
              <tr>
                  <td>factionid</td>
                  <td> 
                      <input type="number" #ufactionid class="form-control" placeholder="faction">
                  </td>
                </tr>
              <tr>
                <tr>
                <td></td>
                <td>
                    <button type="button" (click)="UpdateChampion(uname.value, urole.value , ureleaseDate.value, uchampionid.value, ufactionid.value)" class="btn btn-info">Update</button>
                </td>
              </tr>
            </table>
          </form>
          </div>
        </div>
    
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
           <h2>Delete Champion</h2> 
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tr>
                <td>Id</td>
                <td>
                  <input type="number"  class="form-control"  #championId  placeholder="champion Id">
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger" (click)= "DeleteChampion(championId.value)" >Delete Champion</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<!--paging test-->
<div class="col-md-6">
  <div class="card">
      <div class="card-header">
        <h2>Read, Sorting, Paging</h2>
        <!--WORKINGGGGGG-->
      </div> 
      <div >
        <button type="button"  class="btn btn-warning" (click)="GetChampionsPaging(0)">Get Champions</button>
        aantal per pagina:
        <select [(ngModel)] = "itemsperpage" (change)="GetChampionsPaging(0)">
          <option *ngFor="let amount of ItemsPerPage$" [ngValue]="amount">{{amount}}</option>
        </select>
        <table class="table table-bordered table-striped mb-0">
          <tr>
            <th scope="col">Id</th>
            <th (click)="GetChampionsPaging(3)" scope="col">Champion Name</th>
            <th scope="col">Role </th>
            <th scope="col">Release Date</th>
          </tr>
          <tr *ngFor="let rec of Champions$">
            <td>{{rec.id}}</td>
            <td>{{rec.championName}}</td>
            <td>{{rec.championRole}}</td>
            <td>{{rec.releaseDate | date:'dd/MM/yyy'}}</td>
            <td>
              <button type="button" class="btn btn-warning" (click)="GetChampionById(rec.championId)" >get</button>
            </td>
          </tr>
        </table>
        
      </div>
     
      <button type="button" [disabled]="isNextValid()" class="btn btn-warning" (click)="GetChampionsPaging(1); ">NEXT</button>
      <button type="button" [disabled]="isPreviousValid()" class="btn btn-warning" (click)="GetChampionsPaging(2)">BACK</button>

    </div>

</div>
<h1> Result get from table</h1>
<p>Champion Id :  {{ChampionSelectedById$.id}}</p>
<p>Champion Name : {{ChampionSelectedById$.championName}}</p>
<p>Champion Role: {{ChampionSelectedById$.championRole}}</p>
<p>Champion ReleaseDate : {{ChampionSelectedById$.releaseDate}}</p>
<div>

 
</div>


<!--searching test-->
<div class="col-md-6">
  <div class="card">
      <div class="card-header">
       <h2>Search Champion By Name</h2> 
        
      </div>
      <div >
        <form >
        <input [(ngModel)]="ChampionSearch$" type="text" placeholder="Search.." name="search">
        <button (click)="GeChampionByRole()" type="button"  class="btn btn-warning">SEARCH </button>
      </form>

        <table class="table table-bordered table-striped mb-0">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name </th>
            <th scope="col">Role</th>
            <th scope="col">Release Date</th>
          </tr>
          <tr *ngFor="let rec of ChampionSelectedByName$">
            <td>{{rec.id}}</td>
            <td>{{rec.championName}}</td>
            <td>{{rec.championRole}}</td>
            <td>{{rec.releaseDate}}</td>
            <td>
              <button type="button" class="btn btn-warning" (click)="GetChampionById(rec.id)">get selected</button>
            </td>
          </tr>
        </table>
        
      </div>
    </div>
</div>

<!-- selected shizzle-->
<div class="col-md-6"> 
<h2> Select Faction --> get Champions --> Select Champion --> get Items of role?</h2>
<div>
  <h2>Faction</h2>
<select (change)="GetSelectedFaction(); GetChampionByFactionId()" [(ngModel)]= "selectedFaction" style="margin-right: 20px;">
  <option *ngFor=" let rec of Faction$" [ngValue]="rec.id">{{rec.factionid}}: {{rec.factionName}}</option>
</select>
</div>
<div>
<h2>Albums</h2>
<select >
  <option *ngFor="let rec of ChampionSelectedByFactionId$">{{rec.championName}}</option>
</select>
</div>
<div>
<h2>Tracks</h2>
<select >
  <!--Sumtin wrng-->
  <option *ngFor="let rec of ChampionSelectedByFactionId$">{{rec.championRole}}</option>
</select>
</div>
</div>



<div>
  <button routerLink="/API">Nav to API</button>
</div>
<router-outlet></router-outlet>
<!--
<app-internet-api></app-internet-api>-->